{% extends 'template_base.html' %}

{% block title %} Cargar Características {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <!-- Columna para la tabla de características -->
        <div class="col-md-12">
            <h2>Listado de Características</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Característica</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for caracteristica in caracteristicas %}
                    <tr>
                        <td>{{ caracteristica.nombre }}</td>
                        <td>{{ caracteristica.descripcion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}