{% extends 'template_base.html' %}

{% block title %}
    Celulares
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <a href="/celulares" class="btn btn-info"> Crear celular </a>
    </div>
</div>
    <table class="table">
        <thead>
            <tr>
                <td>Equipo</td>
                <td>Modelo</td>
                <td>Categoria</td>
                <td>Fabricante</td>
                <td>Stock</td>

            </tr>
        </thead>
        {% for celular in celulares %}
            <tr>
                <td>{{celular.equipo}}</td>
                <td>{{celular.modelo}}</td>
                <td>{{celular.categoria}}</td>
                <td>{{celular.fabricante}}</td>
                <td>{{celular.stock}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}