{% extends 'template_base.html' %}

{% block title %} Gestión de Proveedores {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <!-- Columna para la tabla de características -->
        <div class="col-md-6">
            <h2>Listado de Proveedor</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Proveedor</th>
                        <th>CUIT</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ proveedor.nombre }}</td>
                        <td>{{ proveedor.cuit }}</td>
                        <td>
                            <a href="/editar/{{proveedor.id}}/proveedores" class="btn btn-warning btn-sm">Editar</a>
                            <form action="" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Columna para el formulario -->
        <div class="col-md-6">
            <h2>Nuevo Proveedor</h2>
            <form action="" method="POST">
                <table class="table form-table table-bordered">
                    <tbody>
                        <tr>
                            <th><label for="nombre">Nombre</label></th>
                            <td><input type="text" class="form-control" name="nombre" required></td>
                        </tr>
                        <tr>
                            <th><label for="descripcion">CUIT</label></th>
                            <td><input type="text" class="form-control" name="cuit" required></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center"><button type="submit" class="btn btn-primary">Cargar Proveedor</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
